* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    font-family: "Ubuntu Mono", monospace;
}

html, body {
    height: 100%;
}

body {
    line-height: 1.5;
    background-color: #F1F3F6;
    color: #34495E;
    overflow-y: scroll;
}
.light-button{
	background-color:#2ea9de;
    border:none;
    padding:1rem 2rem;
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
}
.dark-button{
	background-color:#00668a;
    border:none;
    padding:1rem 2rem;
    color:white;
    font-size: 1.5rem;
    cursor: pointer;
}